/* line 18, tmp/chance/c-/Users/dstevick/Development/jdt/src/WEB/jdt_sc/apps/jico_ws/resources/main_page-css.scss */
.ace.jico-ws.sc-label-view.welcome-label {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px;
}

